@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;border:0;}
body{		
	 display: block;
     margin: 0;
     padding: 0;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
	 z-index: -1;  
}
.hp{
	top:0;
	height: 100px;
	width: 100%;
	margin: 0 auto;
	z-index: 0;
}
ul.menu {
    display: inline-block;
	height: 88px;
  	display: -webkit-flex;  
    -webkit-justify-content: center;  
    -webkit-align-items: center;
	list-style-type:none;
	background-image: url(../source/background/bg_top.png)
}
ul.menu li a {display: inline;}
ul.menu li{
	height: 20px;
	margin-bottom: 14px;
	z-index: 2;
}
ul.menu li a {
    color: black;
    float: left;
	font-size:16px;
	font-family: "微软雅黑";
	color: white;
	text-align:center;
    padding: 8px 16px;
    text-decoration: none;
	margin: 0px;
	width: 70px;
	height: 20px;
}
.menu2 {
	padding: 0;
  	display: -webkit-flex;  
    -webkit-justify-content: center;  
    -webkit-align-items: center;
	list-style-type:none;
}
ul.menu li a.active {
    background-color: hsla(0,2%,76%,0.68);
    color: #e69800;
	border-left:solid  1px hsla(0,0%,0%,0.90);
	border-right:solid  1px hsla(0,0%,0%,0.90)}
ul.menu li a:hover:not(.active) {
	color: #e69800;	
	
}
ul.menu li:hover .menu2{
	display: block;
}
ul.menu li:hover .menu2 li a{
	background-color: hsla(0,0%,0%,0.56);
}
ul.menu li .menu2 li:hover a{
	color: #e69800;	
	background-color: hsla(0,2%,76%,0.48);
}
.menu2 {
	display: none;	
}
.viedo{
	margin: 0 auto;
	list-style-type:none;
	border:  2px solid hsla(0,2%,76%,0.48);
	width: 1150px;
	height: 646px;
}
.wl{
	width: 160px;
	height: 60px;
	z-index: 0;
	margin: auto;
	margin-top: 35%;
	text-align:center;	
}

.wl a{
	
	font-family: "微软雅黑";
	font-size:27px;
	color: hsla(43,79%,44%,1.00);
	text-decoration: none;
}




